replicaCount: 2

image:
  repository: myacr.azurecr.io/authecommerce
  tag: "latest"
  pullPolicy: Always

imagePullSecrets:
  - name: regcred

service:
  port: 80

env: production

resources:
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 1
    memory: 1Gi
