replicaCount: 2

image:
  repository: myacr.azurecr.io/authecommerce
  tag: "latest"
  pullPolicy: Always

imagePullSecrets:
  - name: regcred

service:
  port: 80

env: production

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 256Mi
