apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "authecommerce.fullname" . }}
  labels:
    {{- include "authecommerce.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "authecommerce.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "authecommerce.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}
      {{- end }}

      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: ENVIRONMENT
              value: {{ .Values.env | quote }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
