replicaCount: 2

image:
  repository: your.registry/your-repo/admin-ecommerce
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 3000

ingress:
  enabled: true
  ingressClassName: "azure/application-gateway"
  hosts:
    - host: admin.example.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    enabled: false
    # secretName: tls-admin-example-com

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}